{% extends 'base.html' %}

{% block main %}
<!-- display contents of user basket -->
<section>  
    <div class="container">
        <div class="row co-12 d-flex mt-2 mb-2">
            <h3>Shopping Basket</h3>
        </div>
        <!-- each tour on seperate row -->
        {% for jersey in order.jerseys %}
            <div class="row shadow-md my-row mb-3">
                <div class="col-sm-10 card">
                    <h5 class="card-header"> {{ jersey.name }}</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <img class="img-thumbnail" src="{{ url_for('static', filename=('img/' + jersey.image)) }}">
                            </div>
                            <div class="col-10">
                                <!-- Item Description -->
                                <p class="card-text">{{ jersey.description }}</p>
                                <div class="form-group mt-4">
                                    <label for="sel1">Select your size:</label>
                                    <select class="form-control" id="sel1" name="sellist1">
                                        <option>S</option>
                                        <option>M</option>
                                        <option>L</option>
                                        <option>XL</option>
                                    </select>
                                </div> 
                            </div>  
                        </div>                      
                    </div>
                </div>
                <br><br>
                <!-- right column has price and delete button -->
                <div class="col-sm-2">
                    <!-- delete item button -->
                        <h5>AUD {{ "$%.2f"|format(jersey.price) }}</h5>
                        <form method="POST" action="{{url_for('main.deleteorderitem')}}">
                            <input type="hidden" id="id" name="id" value="{{jersey.id}}">
                            <input type="submit" value="Delete" class="btn btn-primary mb-3" id="DefaultButton">
                        </form> 
                </div>
            </div>
        {% endfor %}
        
        <!-- total price and page controls -->
        <section>
            <div class="row co-12 d-flex">
                <h5 class="mt-4"> Total =AUD {{ "$%.2f"|format(totalprice) }}</h5>
            </div>
        
            <div class="row co-12 d-flex mt-2 mb-4">
                <a href="{{ url_for('main.index', _anchor='cities_anchor') }}" id="DefaultButton" class="btn btn-primary mr-4">Teams</a>
                <a href="{{ url_for('main.checkout') }}" id="DefaultButton" class="btn btn-primary mr-4">Checkout</a>
                <a href="{{ url_for('main.deleteorder') }}" id="DefaultButton" class="btn btn-primary">Empty Basket</a>
            </div>
        </section>
    </div>
</section>
{% endblock %}

